@{
    ViewData["Title"] = "Inicio";
}

<section>
    @*<div class="row d-flex justify-content-center col-12">
        <div class="col-sm-4 rounded m-20">
            <div style="height: 100px;">
                <img src="~/img/daclogo.png" class="img-fluid" />
            </div>
        </div>
    </div>*@
    <div class="text-center">
        <h1 class="display-4">Gracias!</h1>
        <p>Su voto ha sido registrado.</p>
    </div>
</section>